body {
  background: grey;
  background-image: url('http://pngimagesfree.com/Fruit/Mix-fruit-png/Fruit-Punch-png_transparent_image.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   }
header {
  max-height: 10px;
}

h1,p {
  font-family: 'Amatic SC', cursive;
  color: #FAEBD7;
}

h1 {
  font-size: 7em;
  font-weight: bold;
  padding-left: 50px;
}

p {
  font-size: 4em;
  margin-top: auto;
  text-align: right;
  padding-right: 50px;
}

h2 {
  text-align: center;
  line-height: 2px;
}

 li {
   list-style-type: circle;
 }

.recipes {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}

.recipe {

  padding: 10px;
  width: 350px;
  height: 300px;
  margin: 10px;
  color: #2e2e2e;
  font-family:'Dosis', sans-serif;
  font-size: 20px;
}
